<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>メッセージの場</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>ようこそ！！アウトドアの世界へ</h1>

    <h2>
      そろそろ
      <a href="https://railstutorial.jp/">アウトドア行きたい！！</a>
      の衝動を持ってるひとに…！
    </h2>

    <%= link_to "仲間入り!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%#= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
  <%= link_to image_tag("IMG_20171230_154608_2.jpg") %>
              
<% end %>